.Tdashboard {
  padding: var(--pad4) var(--pad2);
  background-color: var(--vlight-blue);
  min-height: 100%;
  width: 100%;
}

.Tdashboard h1{
  font-size: 1.5rem;
  font-weight: var(--fw5);
  margin-bottom: var(--mar4);
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.stat {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.stat-info h2 {
  margin: 0;
  font-size: 24px;
}

.stat-info p {
  margin: 0;
  color: #666;
}

.opportunities h3 {
  margin-bottom: 10px;
}

.opportunity {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.opportunity h4 {
  margin: 0 0 5px 0;
}

.opportunity p {
  margin: 5px 0;
  color: #666;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
}

.status.pending {
  background-color: #ddd;
  color: #666;
}

@media screen and (min-width: 768px) {
 .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1280px) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}


