.our-team {
  padding: var(--pad9) var(--pad3);
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
}

.our-team h2 {
  font-size: var(--fs5);
  font-weight: var(--fw6);
  padding-bottom: var(--pad2);
}

.our-team h3{
  font-size: 1.3rem;
  padding: var(--pad2) 0 0 0;
  font-weight: var(--fw6);
}

.team-members {
  margin-top: var(--mar4);
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.team-member {
  width: 100%;
  height: 600px;
  text-align: left;
  background-color: var(--white);
  padding: var(--pad4) var(--pad3);
  border-radius: 6px;
  transition: transform 0.3s ease-in-out; 
}

.team-member:hover {
  transform: scale(1.05); 
}

.social-icons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.team-role{
  font-size: 1.1rem;
  font-weight: var(--fw4);
  padding-bottom: var(--pad2);
}

@media screen and (min-width: 768px) {
  .team-members {
    grid-template-columns: repeat(2, 1fr);
  }

  .team-member {
  height: 530px;
}

}

@media screen and  (min-width: 1024px) {
  .team-members {
    grid-template-columns: repeat(4, 1fr); 
  }

  .our-team {
  padding: 10rem var(--pad9);
}
}