
:root {
    /* Primary colors */
  --oxford-blue: #00072dff;
  --penn-blue: #001c55ff;
  --royal-blue: #0a2472ff;
  --blue: #0253b3;
  --b-blue: #0c63e7;
  --bice-blue: #0e6ba8ff;

/* neutrals */
  --non-blue: #a6e1faff;
  --white: #ffffff;
  --light-blue: #f8f9fb;
 
}



.company{
    background-color: var(--light-blue);
    border: 1px solid var(--bice-blue);
    color: var(--oxford-blue);
}

#about h2{
    color: var(--b-blue);
}
button {
  background-color: var(--penn-blue);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
}
