.sidebar {
  width: 60%;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0; 
  background-color: var(--footer-blue);
  color: #fff;
  padding: 11rem var(--pad3) var(--pad3) var(--pad3);
  transition: left 0.3s ease;
  z-index: 2000;
}

.sidebar::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .sidebar.collapsed::before{
    content: none;
  }


.sidebar button {
  background-color: transparent;
  margin-bottom: var(--mar2);
  outline: none;
  border: none;
  position: absolute;
  top: 12%;
  right: 5%;
}

.toggle-icon {
  color: #fff;
  font-size: 30px;
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.sidebar li svg {
  font-size: 1.2rem;
  margin-right: 10px;
}

.sidebar.collapsed {
  width: 80px;
  left: 0;
}

.sidebar-link{
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* .active{
  color: #8fb7e1;
} */

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background:transparent; 
}



@media screen and  (min-width: 768px) {
  .sidebar {
    width: 300px;
    left: 0;
  }

  .sidebar.collapsed {
    width: 80px;
  }

  .sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--footer-blue);
  color: #fff;
  padding: 11rem var(--pad3) var(--pad3) var(--pad3);
  transition: left 0.3s ease;
  
}

 .sidebar::before {
    content: none;
  }
}
