.dashboard {
    display: flex;
}

.sidebar {
    width: 90%;
    overflow-Y: auto;
}

.main-content {
    flex-grow: 1;
    background-color: red;
    padding: var(--pad10) var(--pad4);
    height: 100vh; 
}



@media screen and (min-width: 768px) {
   .main-content button{
    display: none;
   }

   .sidebar{
    width: 20%;
   }
}