.dashboard {
    display: flex;
}

.sidebar {
    overflow-Y: auto;
}

.main-content {
    flex-grow: 1;
    background-color: var(--light-blue);
    padding: var(--pad10) var(--pad4);
    height: 100vh; 
    overflow-y: auto;
}


@media screen and (min-width: 768px) {
   .main-content button{
    display: none;
   }

   .sidebar{
    width: 20%;
   }
}