@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


:root {
    /* Primary colors */
    --btn-blue: #0940AF;
    --bright: #0C63E7;
    --dbheading: #031633;
    --paragrah: #010B1A;

  /* neutrals */
  --white: #ffffff;
  --light-blue: #f8f9fb;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.special{
  font-family: 'Salsa', cursive;
}

img{
  display: block;
  max-width: 100%;
}





