.Postjobs-form{
  padding: var(--pad6) var(--pad3);
  }


.Postjobs-form .form-container{
  border-radius: 10px; 
}

.Postjobs-form h1{
  font-size: var(--fs4);
  font-weight: var(--fw5);
}


.Postjobs-form .form-container textarea {
  padding-top: 30px; 
  
}

.Postjobs-form .submit-button{
  width: 100%;
}

@media screen and (min-width: 768px){
  .Postjobs-form .form-container{
  padding: var(--pad8) var(--pad5);
}
}