.t-applications-container {
  width: 100%; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--vxblue);
}


.t-applications-container h2{
  align-self: flex-start;
}

.application-item {
  background-color: #fcfdff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

@media only screen and (min-width:768px) {
  .t-applications-container {
    padding: 10px;
  }

  .application-item {
    padding: 3rem;
    margin-bottom: 15px;
    max-width: 1200px;
    
  }
}
