.t-applications-container {
  padding: 20px;
  background-color: var(--vxblue);
  min-height: 100vh;
  border-radius: 10px;
}


.error-message, .message {
  color: red;
  text-align: center;
}

.application-item {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 1rem auto; 
}

.application-item p {
  margin: 5px 0;
}

.application-item p svg {
  margin-right: 5px;
}
