.ManageJobs {
  padding: var(--pad4) var(--pad3);
  background-color: var(--vxblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ManageJobs h1 {
  align-self: flex-start;
  color: var(--paragraph);
  font-size: var(--fs3);
  padding: var(--pad2) 0;
  font-weight: var(--fw5);
  

}

.job-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.ManageJobs-wrapper{
  width: 100%;
  max-width: 1200px;
}

.job-item, .empty-job-list {
  background-color: #fff;
  border: 1px solid #edecec;
  padding: 20px ;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  position: relative;
  transition: all ease-in-out;
}

.job-item{
 width: 100%;
  
}

.empty-job-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--pad8) var(--pad4);
}

.empty-job-list p{
  font-size: 1.05rem;
  padding-bottom: var(--pad1)
}

.empty-job-list a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #666;
  width: 100%;
  max-width: 200px;
  padding: var(--pad1) var(--pad4);
  border-radius: 5px;
}


.empty-job-list a:hover {
  background-color: var(--whychoblue);
  color: #fff;
  border-color: var(--whychoblue);
  transition: all 0.3s ease;
}

.empty-job-list a svg{
  font-size: 1.6rem;
}

.job-item:hover {
  transform: scale(1.001);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.job-item h3 {
  padding-top: var(--pad2);
  font-size: 22px;
  font-weight: var(--fw5);
}

.job-requirement, .job-description{
  padding: var(--pad1) 0;
}

.job-requirement{
  color:var(--paragraph);
  font-size: 1.02rem;
   color: rgb(69, 70, 75);
   font-weight: var(--fw4);
}

.job-description{
  color: rgb(69, 70, 75);
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word;
 font-size: var(--fs2);
}

.job-location{
  padding-bottom: var(--pad1);
  color: #636262; 
  font-weight: var(--fw4);

}

.date-posted{
  color: #666;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.edit-icon,
.delete-icon {
  position: absolute;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.edit-icon {
  right: 20px;
}

.edit-icon:hover {
  color: var(--bright);
}

.delete-icon {
  right: 50px;
}

.delete-icon:hover {
  color: red;
}


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.loading-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3934db;
  border-color: #3934db transparent #3934db transparent;
  animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty-job-list {
  text-align: center;
  margin-top: 20px;
}



@media screen and (min-width: 768px){
  .job-item {
  padding: var(--pad5);
}

.ManageJobs h1{
  font-size: var(--fs4);
}
}

