/* src/Profile.css */

.t-button{
  margin-top: var(--mar3);
  padding: 0.8rem;
}
.pbutton-group .cancel-button {
    background-color: #f0f4fa;
}

.pbutton-group .cancel-button:hover {
    background-color: #f0f0f0;
}

.select-group{
    padding: var(--pad2) 0;
    width: 100%;
}


.select-label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-item {
  display: flex;
  align-items: center;
}

.checkbox-wrapper input[type="checkbox"] {
  margin-right: 5px;
}

.pbutton-group {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: var(--mar2);
}

.skills-checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (min-width: 480px) {
  .skills-checkbox-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

@media (min-width: 768px) {
  .skills-checkbox-group {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px){
.skills-checkbox-group {
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
  }
}
