.signupform{
    width: 100%;
    min-height: 100vh;
    background-color: var(--formbg);
    margin: 0 auto;
    padding: 12rem var(--pad2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  background: var(--white); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.form-group label {
  position: absolute;
  top: -10px; 
  left: 10px; 
  background: white;
  padding: 0 5px;
  font-size: 0.875rem;
  transition: all 0.3s;
  pointer-events: none;
  color: #6C6A6A;
  z-index: 1;
}

.form-group input {
  width: 100%;
  padding: 1.1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  outline: none;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  cursor: pointer;
}


.form-group input::placeholder{
  font-size: 0.9rem;
  color: #AFADAD;
}


.form-group .error {
  color: red;
  font-size: 0.875rem;
 
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.loading-bar {
  background-color: #f3f3f3;
  height: 20px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.loading-progress {
  background-color: #4caf50;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.select-container {
  position: relative;
  
  border-radius: 4px;
}

.select-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
}
