.gmodal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.gmodal-content {
  background-color: var(--white);
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  color: var(--paragraph);
  font-size: 28px;
  font-weight: bold;
}

.modal-message{
padding: var(--pad4);
font-size: 1rem;
}

.close:hover,
.close:focus {
  color: var(--footer-blue);
  text-decoration: none;
  cursor: pointer;
}
