.cancel-button{
    margin-top: var(--mar1);
    background-color: transparent;
    color: var(--paragraph);
    font-weight: var(--fs4);
}

@media screen and (min-width: 768px){
    .forgot-password-form .form-container{
    padding: var(--pad4) 2rem var(--pad6) 2rem;
}
}

