.avatar-container, .clog-container{
   padding-bottom: var(--pad2);
 
}

.avatar, .clogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sidebar.collapsed .avatar, .sidebar.collapsed .clogo {
    width: 25px;
    height: 25px;
}

.sidebar-link.active {
  background-color: var(--light-blue);
  color: black;
  padding: var(--pad1);
  width: 200px;
}
