/** HEADER STYLES **/

header {
  width: 100%;
  background-color: var(--white);
  padding: 1rem;
  position: fixed;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  top: 0;
}

/* Logo styles 
===============================*/

header nav div{
  width: 100%;
}

header div.logo {
  width: 80px;
  max-width: 100%;
}


/* Button container styles 
===============================*/
.btn-container {
  padding-top: var(--pad9);
}

/* Mobile toggle styles 
===============================*/
.menu-icon,
.close-icon {
  position: absolute;
  top: var(--pad2);
  right: var(--pad2);
  width: 30px;
}

/* Mobile navigation menu (side bar) styles 
=====================================*/
.nav-menu {
  visibility: hidden;
  opacity: 0;
  background-color: var(--white);
  z-index: 100;
  position: fixed;
  right: -50%;
  top: 0;
  width: 60%;
  padding: var(--pad10) var(--pad4);
  height: 100vh;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Styles for open mobile navigation menu 
==================================================*/
.nav-menu.open {
  visibility: visible;
  opacity: 1;
  right: 0;
}

/* Styles for list items in mobile navigation menu 
========================================================*/
.nav-menu ul li {
  padding-top: var(--pad2);
  transition: color 0.3s ease-in-out;
}

/* Styles for list items (nav links) hover effect
========================================================*/

.nav-menu ul li:hover {
  color: var(--bright);
}

.nav-menu ul li::after {
  content: "";
  width: 0;
  display: block;
  border-bottom: 3px solid var(--bright);
  transition: width 0.3s ease-in-out;
}

.nav-menu ul li:hover::after {
  width: 100%;
}

/* Styles for transparent background 
===========================================*/
.transparent-background {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(50px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.active-link {
  border: 1px solid var(--vlight-blue);
  padding: 0 var(--pad2);
  color: var(--paragraph);
  background-color: var(--vlight-blue);
}

/* Styles for screens wider than 768px 
=================================================*/
@media screen and (min-width: 768px) {

  /* Styles for navigation menu */
  .nav-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 0;
  }

  /* Styles for unordered list in navigation menu 
    =======================================================*/
  .nav-menu ul {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  /* Styles for list (links) items in navigation menu 
    ==============================================================*/
  .nav-menu ul li {
    padding: 0 var(--pad1);
    font-size: var(--fs1);
  }

  /* Styles for the nav button container 
    ==============================================*/
  .btn-container {
    padding-top: 0;
  }

  /* Styles for transparent background 
    =============================================*/
  .transparent-background {
    display: none;
  }

  /* Styles for mobile toggle icons 
    ==============================================*/
  .menu-icon,
  .close-icon {
    display: none;
  }

  /* Styles nav link button
    ==============================================*/
  .blue-btn {
    padding: 0.6rem;
    width: 160px;
  }

  header div.logo {
    width: 110px;
  }
}

@media screen and (min-width: 1024px) {

  .nav-menu ul li {
    font-size: var(--fs2);
  }

  header{
    padding: var(--pad1) var(--pad9);
  }
}
